body{
    overflow: hidden;
    background-color: #424f6f;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container{
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    background: rgb(202, 159, 202);
}
*:after, *:before{
    box-sizing: border-box;
}10